/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
table.admintable {
border:1px solid #AEDEF2;
border-collapse: collapse;
}

th.adminth {
width: 671px;
color: #0066cc;
background-color: #eef6fe;
font-size:14px;
color:#05B;
border:1px solid #AEDEF2;
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#AEDEF2,endColorStr=ghostwhite);
}

td.admincls0 {
border:1px solid #AEDEF2;
background:ghostwhite;
font-size:12px;
color: #333;
}

td.admincls1 {
border:1px solid #AEDEF2;
background:#DAF0F1;
font-size:12px;
color: #333;
}